.main-container {

  .navbar {
    height: 3.5rem;
    padding: 0.5rem 7rem;

    .search-input {
      padding: .375rem 2.25rem .375rem .75rem;
      border-radius: .25rem;
    }

    .search-button {
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 10000;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .outer-container {
    min-height: calc(100vh - 3.5rem);
    padding: 0 5rem;
    background: url(../assets/bg_pattern.png);

    .inner-container {
      background: white;
      padding: 2rem 0;
      box-shadow: 0 0 100px #ccc;

      .category {
        width: 20%;
        border-right: 1px solid #E5E5E5;
      }

      .recipes {
        width: 80%;
        padding: 0 2rem;
      }
    }
  }
}
