<div class="container-fluid main-container d-flex flex-column min-vh-100 p-0">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Аспаз - рецепты шедевров</a>

    <form class="form-inline">
      <div class="input-group">
        <input class="search-input form-control" type="text" placeholder="Поиск блюда">
        <div class="search-button d-flex justify-content-center align-items-center px-3">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </form>
  </nav>

  <div class="outer-container w-100 d-flex">
    <div class="inner-container w-100 d-flex justify-content-between">
      <div class="category">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Первые блюда
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Вторые блюда
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Закуски
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Салаты
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Соусы, кремы
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Напитки
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Десерты
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Выпечка
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Безглютеновая выпечка
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Торты
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Пасха
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Заготовки на зиму
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Блюда в мультиварке
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Блюда в хлебопечке
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Хлеб
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Тесто
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Блины и оладьи
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Постные блюда
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Полезные мелочи
            <span class="badge badge-primary badge-pill">14</span>
          </li>
        </ul>
      </div>
      <div class="recipes d-flex flex-wrap justify-content-between">
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div><div class="recipe" style="width: 18rem;">
        <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
        <div class="card-body">
          <h5 class="card-title">Минтай в томатном соусе</h5>
          <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
        </div>
      </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
        <div class="recipe" style="width: 18rem;">
          <img class="card-img-top" src="../assets/recipe.png" alt="Recipe image">
          <div class="card-body">
            <h5 class="card-title">Минтай в томатном соусе</h5>
            <p class="card-text">Вкусная и полезная белая рыба, тушенная в томатном соусе. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
